.calendrier-container {
  display: flex; /* Utilise flexbox pour afficher la sidebar et le calendrier côte à côte */
  max-width: 100%; /* Prendre toute la largeur de la page */
  padding: 20px; /* Ajoute un peu d'espace autour */
  box-sizing: border-box; /* Inclut la bordure et le padding dans la largeur totale */
}

.sidebar {
  width: 200px; /* Largeur de la sidebar */
  background-color: #f7f7f7; /* Couleur de fond */
  padding: 15px; /* Ajoute de l'espace intérieur */
  border-right: 1px solid #ccc; /* Bordure droite */
  overflow-y: auto; /* Permet le défilement si le contenu déborde */
}

.sidebar h3 {
  margin-top: 0; /* Enlève la marge supérieure */
}

.sidebar ul {
  list-style-type: none; /* Retire les puces de la liste */
  padding: 0; /* Retire le padding par défaut */
}

.sidebar li {
  cursor: pointer; /* Change le curseur pour indiquer que c'est cliquable */
  padding: 5px; /* Ajoute un peu de padding */
}

.sidebar li:hover {
  background-color: #e0e0e0; /* Changement de couleur au survol */
}

.calendar-section {
  flex-grow: 1; /* Prend le reste de l'espace disponible */
  padding: 15px; /* Espace intérieur */
}

.my-calendar {
  width: 100%; /* Prendre toute la largeur du conteneur */
}

.react-calendar {
  color: black; /* Couleur du texte */
}

.react-calendar__month-view__days__day {
  color: black; /* Couleur des jours */
}

.react-calendar__navigation button {
  color: #000; /* Couleur des flèches de navigation */
  background: none; /* Pas de fond */
}

.react-calendar__navigation button:enabled:hover {
  background: rgba(0, 0, 0, 0.1); /* Couleur d'arrière-plan au survol */
}

.react-calendar__tile {
  color: black; /* Couleur des dates */
}

.react-calendar__tile--active {
  background: #007bff; /* Couleur de fond pour la date active */
  color: white; /* Couleur du texte pour la date active */
}

/* Conteneur pour l'alignement des créneaux et des boutons */
.creaneau-container {
  display: flex; /* Utiliser Flexbox pour aligner horizontalement */
  justify-content: space-between; /* Espace entre le texte et le bouton */
  align-items: center; /* Aligner verticalement au centre */
  margin-bottom: 10px; /* Espacement entre chaque créneau */
}

/* Style pour les boutons de réservation */
.reservation-btn {
  padding: 5px 10px;
  background-color: #007bff; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Changer le curseur au survol */
}

.reservation-btn:hover {
  background-color: #0056b3; /* Couleur de fond au survol */
}
